<!--
/**
 * contact
 * @description Contact page
 */
-->

<!DOCTYPE html>
<html lang="en"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="fragments/main-layout">

<body>
  
	<main layout:fragment="content">
	    
		<!-- Error message -->
		<div th:replace="~{fragments/error-message}"></div>
		
		<!-- Messaging -->
	    <div th:replace="~{fragments/contact-messaging}"></div>
		
		<!-- Modal send message -->
	    <div th:replace="~{fragments/contact-send-message}"></div>
		
	</main>
    
</body>
  
</html>
