<!--
/**
 * head
 * @description Head
 */
-->

	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title layout:title-pattern="$LAYOUT_TITLE - $CONTENT_TITLE">Pay My Buddy</title>
	
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
	<link rel="stylesheet" type="text/css" th:href="@{/css/font-awesome5.15.4.all.min.css}" />
	<link rel="stylesheet" type="text/css" media="all" th:href="@{/css/bootstrap.min.css}" />
	<link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}" />
