<!--
/**
 * header
 * @description Header
 */
-->

<head>
	<title>Pay My Buddy</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	
	<link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap-icons1.10.5.css}" />
	    
	<link rel="stylesheet" type="text/css" th:href="@{/css/font-awesome5.15.4.all.min.css}" />
					
	<link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap5-toggle.min5.0.6.css}" />
	
	<link rel="stylesheet" type="text/css" media="all" th:href="@{/css/bootstrap.min.css}" />
	<link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}" />
</head>
