<!--
/**
 * home-last-transaction
 * @description Last transaction
 */
-->

<div class="table-responsive">
	<table class="table table-striped table-sm table-hover caption-top text-center table-bordered mb-0">
		<caption class="fw-bold">Last transaction</caption>
		
		<!-- Transaction title -->
		<thead class="bg-success text-white">
			<tr>
				<th scope="col" class="fw-normal">Date</th>
				<th scope="col" class="fw-normal">Description</th>
				<th scope="col" class="fw-normal">Amount</th>
			</tr>
		</thead>
		
		<!-- Transaction detail -->
		<tbody class="bg-white text-black">
			<tr th:each="bankTransaction: ${bankTransactions}">
				<td th:text="${#dates.format(bankTransaction.transactionDate, 'dd/MM/yyyy')}" />
				<td th:text="${bankTransaction.description}" />
				<td th:text="${bankTransaction.amount + '€'}" />						
			</tr>
		</tbody>
	</table>
</div>
