<!--
/**
 * main-layout
 * @description Main layout
 */
 
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
 
-->

<!DOCTYPE html>
<html lang="en"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
	
	<head th:insert="fragments/head">
		<title layout:title-pattern="$LAYOUT_TITLE - $CONTENT_TITLE">Pay My Buddy</title>
	</head>
	
<body>
	
	<div class="container-fluid">
		<header>
			<!-- Banner -->
			<div class="row bg-dark">
				<div class="d-flex justify-content-between py-1">
					<div>
						<i class="bi bi-circle-fill fa-xs text-secondary px-1"></i>
						<i class="bi bi-circle-fill fa-xs text-secondary px-1"></i>
						<i class="bi bi-circle-fill fa-xs text-secondary px-1"></i>
					</div>
					<p class="text-white m-0">Pay My Buddy</p>
					<p></p>
				</div>
			</div>
		
			<!-- Menu -->
		    <div th:replace="~{fragments/menu}"></div>
		    
			<!-- Navigational hierarchy -->
		    <div th:replace="~{fragments/navigational-hierarchy}"></div>
		</header>
	</div>    
    
    <main class="container" id="mainContent">
        <div layout:fragment="content"></div>
    </main>
    
    <div th:replace="~{fragments/footer}"></div>
	
</body>
</html>
