<!--
/**
 * menu
 * @description Menu
 */
-->

<div class="row">
	<nav class="navbar navbar-expand navbar-light">
		<!-- Left menu -->
		<a class="navbar-brand">
			<span class="bg-success bg-gradient py-2 px-3 rounded-3 text-light">Pay My Buddy</span>
		</a>
		
		<!-- Right menu -->
		<div class="collapse navbar-collapse justify-content-end" id="navbarNav">
			<ul class="navbar-nav" th:with="pageName=${#ctx.springRequestContext.requestUri}">
			
				<!-- USER_ROLE -->
				<th:block th:if="${#authorization.expression('hasAuthority(''USER_ROLE'')')}">
					<div th:replace="~{fragments/menu-user}"></div>
				</th:block>
				
				<!-- ADMIN_ROLE -->
				<th:block th:if="${#authorization.expression('hasAuthority(''ADMIN_ROLE'')')}">
					<div th:replace="~{fragments/menu-admin}"></div>
				</th:block>
				
			</ul>
		</div>
	</nav>
</div>
