<!-- Menu -->

<div class="row">
	<nav class="navbar navbar-expand navbar-light">
		<!-- Left menu -->
		<a class="navbar-brand">
			<span class="bg-success bg-gradient py-2 px-3 rounded-3 text-light">Pay My Buddy</span>
		</a>
		
		<!-- Right menu -->
		<div class="collapse navbar-collapse justify-content-end" id="navbarNav">
			<ul class="navbar-nav">
				<li class="nav-item">
					<a class="nav-link" th:classappend="${#strings.equals(module, 'home') ? 'text-primary' : ''}"
						th:href="@{/home}">Home</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" th:classappend="${#strings.equals(module, 'transfer') ? 'text-primary' : ''}"
						th:href="@{/transfer}">Transfer</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" th:classappend="${#strings.equals(module, 'profile') ? 'text-primary' : ''}"
						th:href="@{/profile}">Profile</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" th:classappend="${#strings.equals(module, 'contact') ? 'text-primary' : ''}"
						th:href="@{/contact}">Contact</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" th:classappend="${#strings.equals(module, 'logout') ? 'text-primary' : ''}"
						th:href="@{/logout}">Log off</a>
				</li>
			</ul>
		</div>
	</nav>
</div>
