<!--
/**
 * navigational-hierarchy
 * @description Navigational hierarchy
 */
-->

<div class="row bg-light">
	<nav aria-label="breadcrumb">
		<ol class="breadcrumb" th:with="pageName=${#ctx.springRequestContext.requestUri}">

			<!-- USER_ROLE -->
			<th:block th:if="${#authorization.expression('hasAuthority(''USER_ROLE'')')}">
				<div th:replace="~{fragments/navigational-hierarchy-user}"></div>
			</th:block>
				
			<!-- ADMIN_ROLE -->
			<th:block th:if="${#authorization.expression('hasAuthority(''ADMIN_ROLE'')')}">
				<div th:replace="~{fragments/navigational-hierarchy-admin}"></div>
			</th:block>
		</ol>
	</nav>
</div>
