<!--
/**
 * pagination
 * @description Pagination
 */
-->

<div class="container" th:fragment="formField (pageName, objectPage, variableNamePage, variableNameSize)">
	<div class="row">
		<nav aria-label="Page navigation">
			<ul class="pagination justify-content-center">
				<!-- First page -->
				<li class="page-item" th:classappend="${objectPage.number == 0} ? 'disabled'">
					<a class="page-link" th:href="@{${pageName}(${variableNamePage}=1,${variableNameSize}=${objectPage.size})}">|&laquo;</a>
				</li>
			
				<!-- Previous page -->
				<li class="page-item" th:classappend="${objectPage.number == 0} ? 'disabled'">
					<a class="page-link" th:href="@{${pageName}(${variableNamePage}=${objectPage.number},${variableNameSize}=${objectPage.size})}">&laquo;</a>
				</li>
				
				<!-- Beginning ... -->
				<li th:if="${objectPage.number > 2}" class="page-item disabled">
					<span class="page-link">...</span>
				</li>
				
				<!-- Current page -->
				<th:block th:each="i: ${#numbers.sequence(0, objectPage.totalPages - 1)}">
					<th:block th:if="${objectPage.number - 2 <= i && i <= objectPage.number + 2}">
						<li class="page-item" th:classappend="${objectPage.number == i} ? 'disabled'">
							<a class="page-link" th:href="@{${pageName}(${variableNamePage}=${i+1},${variableNameSize}=${objectPage.size})}">[[${i}+1]]</a>
						</li>
					</th:block>
				</th:block>
						    
				<!-- End ... -->
				<li th:if="${objectPage.totalPages - 3 > objectPage.number}" class="page-item disabled">
					<span class="page-link">...</span>
				</li>
						    
				<!-- Next page -->
				<li class="page-item" th:classappend="${objectPage.number == objectPage.totalPages - 1} ? 'disabled'">
					<a class="page-link" th:href="@{${pageName}(${variableNamePage}=${objectPage.number+2},${variableNameSize}=${objectPage.size})}">&raquo;</a>
				</li>
				
				<!-- Last Page -->
				<li class="page-item" th:classappend="${objectPage.number == objectPage.totalPages - 1} ? 'disabled'">
					<a class="page-link" th:href="@{${pageName}(${variableNamePage}=${objectPage.totalPages},${variableNameSize}=${objectPage.size})}">&raquo;|</a>
				</li>
			</ul>
		</nav>
	</div>
</div>
