<!-- Bank account -->

<section class="container my-3">
	<div class="row">
		<p class="fw-bold">Change your bank account</p>
	</div>
	
	<div class="row gy-4 mt-0 bg-light">
		<!-- Formulaire -->
		<form class="row" th:action="@{/profile-bank-account}" th:object="${bankAccount}" th:method="POST">
			<input type="hidden" id="id" th:field="*{id}" />
			<input type="hidden" id="idCustomer" th:field="*{idCustomer}" />
		
		    <div class="row my-2">
		    	<div class="col">
					<label for=idBankName class="form-label">Name of the bank</label>
					<input type="text" required class="form-control" th:maxlength="50"
						id="idBankName" th:field="*{bankName}" />
				</div>
			</div>
			
		    <div class="row my-2 text-center">
		    	<div class="col-2">
					<div class="border border-secondary rounded px-2 py-2">
						<label for=idBankCode class="form-label">Bank code</label>
						<input type="text" required class="form-control" th:maxlength="5"
							id="idBankCode" th:field="*{bankCode}" />
					</div>
				</div>
		    	<div class="col-2">
					<div class="border border-secondary rounded px-2 py-2">
						<label for=idBranchCode class="form-label">Branch code</label>
						<input type="text" required class="form-control" th:maxlength="5"
							id="idBranchCode" th:field="*{branchCode}" />
					</div>
				</div>
		    	<div class="col-3">
					<div class="border border-secondary rounded px-2 py-2">
						<label for=idAccountNumber class="form-label">Account number</label>
						<input type="text" required class="form-control" th:maxlength="11"
							id="idAccountNumber" th:field="*{accountNumber}" />
					</div>
				</div>
		    	<div class="col-2">
					<div class="border border-secondary rounded px-2 py-2">
						<label for=idRib class="form-label">Bank key</label>
						<input type="text" required class="form-control" th:maxlength="2"
							id="idRib" th:field="*{rib}" />
					</div>
				</div>
			</div>
								
		    <div class="row my-2 text-center">
		    	<div class="col-5">
					<div class="border border-secondary rounded px-2 py-2">
						<label for=idIban class="form-label">IBAN</label>
						<input type="text" required class="form-control" th:maxlength="34"
							id="idIban" th:field="*{iban}" />
					</div>
				</div>
		    	<div class="col-3">
					<div class="border border-secondary rounded px-2 py-2">
						<label for=idBic class="form-label">BIC code</label>
						<input type="text" required class="form-control" th:maxlength="11"
							id="idBic" th:field="*{bic}" />
					</div>
				</div>
			</div>
			
		    <div class="row my-2 text-center">
		    	<div class="col">
					<button type="submit" class="btn btn-primary">Send</button>
				</div>
			</div>
		</form>
	</div>
</section>
