<!--
/**
 * transfer-detail
 * @description My Transactions
 */
-->

<div class="container my-3">
	<!-- Transaction table -->
	<div class="row">
		<div class="table-responsive">
			<table class="table table-striped table-sm table-hover caption-top text-center border mb-0">
				<caption class="fw-bold">My Transactions</caption>
				
				<!-- Transaction title -->
				<thead class="bg-success text-white">
					<tr>
						<th scope="col" style="display:none">#</th>
						<th scope="col" class="fw-normal">Connections</th>
						<th scope="col" class="fw-normal">Description</th>
						<th scope="col" class="fw-normal">Amount</th>
					</tr>
				</thead>
				
				<!-- Transaction detail -->
				<tbody>
					<tr th:if="${transactionPage.content.empty}">
						<td colspan="3">No transaction in database</td>
					</tr>
					<tr th:each="bankTransaction: ${transactionPage.content}">
						<th scope="row" style="display:none" th:text="${bankTransaction.id}" />
						<td th:text="${bankTransaction.connection}" />
						<td th:text="${bankTransaction.description}" />
						<td th:text="${bankTransaction.amount + '€'}" />						
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	
	<!-- Pagination -->
    <div th:replace="~{fragments/pagination :: formField(pageName='/user/transfer'
    													, objectPage=${transactionPage}
    													, variableNamePage='page'
    													, variableNameSize='size'
														)}"></div>
</div>
