<!DOCTYPE html>
<html lang="en"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="fragments/main-layout">

<body>
  
	<main layout:fragment="content">
		<div class="container">
			<div class="row bg-light">
				<nav aria-label="breadcrumb">
					<ol class="breadcrumb">
						<li class="breadcrumb-item"><a th:href="@{/home}">Home</a></li>
						<li class="breadcrumb-item active" aria-current="page">Contact</li>
					</ol>
				</nav>	
			</div>
		</div>
		
		
	</main>
    
</body>
  
</html>
