<!--
/**
 * home
 * @description Home page
 */
-->

<!DOCTYPE html>
<html lang="en"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="fragments/main-layout">

<body>

	<main layout:fragment="content">
		
		<div class="bg-image"
				style="background-image: url('img/ImagePayMyBuddy.png');
						height: 100vh;">
			<div class="mask h-100" style="background-color: rgba(255, 255, 255, 0.9);">
				<div class="d-flex justify-content-center align-items-start">
				
					<div class="container">
						<div class="row my-3">
							<div class="col-6">
								<!-- Account Balance -->
				    			<div th:replace="~{fragments/home-account-balance}"></div>
							</div>
							<div class="col-6">
								<!-- Last transaction -->
								<div th:replace="~{fragments/home-last-transaction}"></div>
							</div>
						</div>
						
						<div class="row my-3">
							<div class="col-6">
								<!-- Transaction parameter -->
				    			<div th:replace="~{fragments/home-transaction-parameter}"></div>
							</div>
							<div class="col-6">
								<!-- Buddies -->
								<div th:replace="~{fragments/home-buddy}"></div>
							</div>
						</div>
					</div>
					
				</div>
			</div>
		</div>
		
	</main>
    
</body>
  
</html>
