<!--
/**
 * profile
 * @description Customer profile page
 */
-->

<!DOCTYPE html>
<html lang="en"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="fragments/main-layout">

<body>
  
	<main layout:fragment="content">
	
		<!-- Bank account -->
	    <div th:replace="~{fragments/profile-bank-account}"></div>
	    
		<!-- Error message -->
		<div th:replace="~{fragments/error-message}"></div>
	    
		<!-- Identity -->
	    <div th:replace="~{fragments/profile-identify}"></div>
	    
	</main>
    
</body>
  
</html>
