<!--
/**
 * customer-list
 * @description Customer users settings
 */
-->

<div class="container my-3">
	<!-- Transaction table -->
	<div class="row">
		<div class="table-responsive">
			<table class="table table-striped table-sm table-hover caption-top text-center border mb-0">
				<caption class="fw-bold">Customer user list</caption>
				
				<!-- Transaction title -->
				<thead class="bg-success text-white">
					<tr>
						<th scope="col" style="display:none">#</th>
						<th scope="col" class="fw-normal">Name</th>
						<th scope="col" class="fw-normal">Email</th>
						<th scope="col" class="fw-normal">Account expired</th>
						<th scope="col" class="fw-normal">Locked</th>
						<th scope="col" class="fw-normal">Password expired</th>
						<th scope="col" class="fw-normal">Enabled</th>
						<th scope="col" class="fw-normal">Email validation end date</th>
						<th scope="col" class="fw-normal">Action</th>
					</tr>
				</thead>
				
				<!-- Transaction detail -->
				<tbody>
					<tr th:if="${customerUserPage.content.empty}">
						<td colspan="3">No customer in the database</td>
					</tr>
					<tr th:each="customerUser, iterStat : ${customerUserPage.content}">
						<!-- User ID -->
						<th scope="row" style="display:none" th:text="${customerUser.idUser}" id="idPageUser" />
						<!-- Customer first name -->
						<th scope="row" style="display:none" th:text="${customerUser.firstName}" id="idPageFirstName" />
						<!-- Customer last name -->
						<th scope="row" style="display:none" th:text="${customerUser.lastName}" id="idPageLastName" />
						
						<!-- Customer name -->
						<td class="text-start" th:text="${customerUser.lastName + ' ' + customerUser.firstName}" />
						<!-- Email used to authenticate the user -->
						<td class="text-start" th:text="${customerUser.username}"
									id="idPageUsername" />
						
						<!-- User account expired -->
						<td>
							<input type="checkbox" readonly checked data-toggle="toggle" data-onlabel="Yes" data-offlabel="No" data-onstyle="success" data-offstyle="danger"
									th:checked="${customerUser.expired}" data-style="ios" data-size="xs" data-height="25"
									id="idPageExpired" />
						</td>
						<!-- User locked -->
						<td>
							<input type="checkbox" readonly checked data-toggle="toggle" data-onlabel="Yes" data-offlabel="No" data-onstyle="success" data-offstyle="danger"
									th:checked="${customerUser.locked}" data-style="ios" data-size="xs" data-height="25"
									id="idPageLocked" />
						</td>
						<!-- User credentials (password) expired -->
						<td>
							<input type="checkbox" readonly checked data-toggle="toggle" data-onlabel="Yes" data-offlabel="No" data-onstyle="success" data-offstyle="danger"
									th:checked="${customerUser.credentiaExpired}" data-style="ios" data-size="xs" data-height="25"
									id="idPageCredentiaExpired" />
						</td>
						<!-- Activated user -->
						<td>
							<input type="checkbox" readonly checked data-toggle="toggle" data-onlabel="Yes" data-offlabel="No" data-onstyle="success" data-offstyle="danger"
									th:checked="${customerUser.enabled}" data-style="ios" data-size="xs" data-height="25"
									id="idPageEnabled" />
						</td>
						<!-- Valid email end date for customers -->
						<td th:text="${#dates.format(customerUser.validEmailEndDate, 'dd/MM/yyyy hh:mm a')}"
									id="idPageValidEmailEndDate" />
						<!-- Action -->
						<td>
							<div class="btn-group" role="group" aria-label="Basic example">
						    	<button class="btn btn-info btn-sm mx-1" data-bs-toggle="modal" data-bs-target="#modalEditUser"
						    					th:attr="data-id=${customerUser}" >Edit</button>
						    					
								<form th:action="@{/admin/customer/delete-user/{id}(id=${customerUser.idUser})}" th:method="DELETE">
								    <button type="submit" class="btn btn-danger btn-sm">Delete</button>
								</form>					    	
							</div>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	
	<!-- Pagination -->
    <div th:replace="~{fragments/pagination :: formField(pageName='/admin/customer'
    													, objectPage=${customerUserPage}
    													, variableNamePage='page'
    													, variableNameSize='size'
    													)}"></div>
</div>
