<!--
/**
 * customer-list
 * @description Customer users settings
 */
-->

<div class="container my-3">
	<!-- Transaction table -->
	<div class="row">
		<div class="table-responsive">
			<table class="table table-striped table-sm table-hover caption-top text-center border mb-0">
				<caption class="fw-bold">Customer user list</caption>
				
				<!-- Transaction title -->
				<thead class="bg-success text-white">
					<tr>
						<th scope="col" style="display:none">#</th>
						<th scope="col" class="fw-normal">Last name</th>
						<th scope="col" class="fw-normal">First name</th>
						<th scope="col" class="fw-normal">Email</th>
						<th scope="col" class="fw-normal">Account expired</th>
						<th scope="col" class="fw-normal">Locked</th>
						<th scope="col" class="fw-normal">Password expired</th>
						<th scope="col" class="fw-normal">Enabled</th>
						<th scope="col" class="fw-normal">Action</th>
					</tr>
				</thead>
				
				<!-- Transaction detail -->
				<tbody>
					<tr th:if="${customerUserPage.content.empty}">
						<td colspan="3">No customer in the database</td>
					</tr>
					<tr th:each="customerUser : ${customerUserPage.content}">
						<!-- User ID -->
						<th scope="row" style="display:none" th:text="${customerUser.idUser}"
									th:id="idRowIdUser+${customerUser.idUser}" />
						
						<!-- Customer last name -->
						<td class="text-start" th:text="${customerUser.lastName}"
									th:id="idRowLastName+${customerUser.idUser}" />
						<!-- Customer first name -->
						<td class="text-start" th:text="${customerUser.firstName}"
									th:id="idRowFirstName+${customerUser.idUser}" />
						
						<!-- Email used to authenticate the user -->
						<td class="text-start" th:text="${customerUser.username}"
									th:id="idRowUsername+${customerUser.idUser}" />
						
						<!-- User account expired -->
						<td>
							<input type="checkbox" onclick="return false;"
									th:checked="${customerUser.expired}"
									th:id="idRowExpired+${customerUser.idUser}" />
						</td>
						<!-- User locked -->
						<td>
							<input type="checkbox" onclick="return false;"
									th:checked="${customerUser.locked}"
									th:id="idRowLocked+${customerUser.idUser}" />
						</td>
						<!-- User credentials (password) expired -->
						<td>
							<input type="checkbox" onclick="return false;"
									th:checked="${customerUser.credentiaExpired}"
									th:id="idRowCredentiaExpired+${customerUser.idUser}" />
						</td>
						<!-- Activated user -->
						<td>
							<input type="checkbox" onclick="return false;"
									th:checked="${customerUser.enabled}"
									th:id="idRowEnabled+${customerUser.idUser}" />
						</td>
						<!-- Action -->
						<td>
							<div class="btn-group" role="group" aria-label="Basic example">
						    	<button class="btn btn-info btn-sm mx-1 btnModalEditUser" data-bs-toggle="modal"
						    		th:data-id="${customerUser.idUser}"
									th:data-bs-target="${'#modalEditUser'}" ><spam class="bi bi-pencil" /></button>
									
						    	<button class="btn btn-danger btn-sm mx-1" data-bs-toggle="modal"
						    		th:data-id="${customerUser.idUser}"
									th:data-bs-target="${'#modalDeleteUser'+customerUser.idUser}" ><spam class="bi bi-trash" /></button>
							</div>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	
	<!-- Pagination -->
    <div th:replace="~{fragments/pagination :: formField(pageName='/admin/customer'
    													, objectPage=${customerUserPage}
    													, variableNamePage='page'
    													, variableNameSize='size'
    													)}"></div>
</div>