<!--
/**
 * customer-edit-user
 * @description Modal edit user
 */
-->

<div class="modal fade" th:id="modalEditUser" tabindex="-1"
		th:aria-labelledby="editUserLabel" aria-hidden="true">
	<form th:action="@{/admin/customer/edit-user}" th:object="${newCustomerUser}" th:method="PATCH">
	    <div class="modal-dialog">
	        <div class="modal-content">
	            <div class="modal-header">
	                <h5 class="modal-title" th:id="editUserLabel">Edit user</h5>
	                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
	            </div>
	            
	            <div class="modal-body text-start">
					<!-- User ID -->
			        <input type="hidden" th:id="idUser" th:field="*{idUser}" />
			        
 					<!-- First name -->
					<div class="mb-3">
						<label class="form-label">First name</label>
						<input type="text" required class="form-control" th:maxlength="50"
								th:id="idFirstName" th:field="*{firstName}" />
					</div>
					
					<!-- Last name -->
					<div class="mb-3">
						<label class="form-label">Last name</label>
						<input type="text" required class="form-control" th:maxlength="50"
								th:id="idLastName" th:field="*{lastName}" />
					</div>
					
					<!-- Email used to authenticate the user -->
					<div class="mb-3">
						<label class="form-label">Email</label>
				        <input type="email" required class="form-control" th:maxlength="100"
				        		th:id="idUsername" th:field="*{username}" />
					</div>
			        
					<!-- User account expired -->
					<div class="mb-3">
						<label class="form-label">Account expired</label>
						<input type="checkbox"
								th:id="idExpired" th:field="*{expired}" />
					</div>
					
					<!-- User locked -->
					<div class="mb-3">
						<label class="form-label">Locked</label>
						<input type="checkbox"
								th:id="idLocked" th:field="*{locked}" />
					</div>
					
					<!-- User credentials (password) expired -->
					<div class="mb-3">
						<label class="form-label">Password expired</label>
						<input type="checkbox"
								th:id="idCredentiaExpired" th:field="*{credentiaExpired}" />
					</div>
					
					<!-- Activated user -->
					<div class="mb-3">
						<label class="form-label">Enabled</label>
						<input type="checkbox"
								th:id="idEnabled" th:field="*{enabled}" />
					</div>
	            </div>
	            
	            <div class="modal-footer">
	                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
		            <button type="submit" class="btn btn-primary"><spam class="bi bi-check-lg" />&nbsp;Edit</button>
	            </div>
	        </div>
	    </div>
	</form>
</div>
